<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.com.cxsw.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cn.com.cxsw.core.Perspective"
            id="Listen.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.com.cxsw.view.AdminView"
            id="cn.com.cxsw.view.AdminView"
            name="菜单">
      </view>
      <view
            class="cn.com.cxsw.view.TopView"
            id="cn.com.cxsw.view.TopView"
            name="">
      </view>
      <view
            class="cn.com.cxsw.view.AdminMenuView"
            id="cn.com.cxsw.view.AdminMenuView"
            name="New ViewPart">
      </view>
      <view
            class="cn.com.cxsw.view.AdminView1"
            id="cn.com.cxsw.view.AdminView1"
            name="管理员菜单">
      </view>
      <view
            class="cn.com.cxsw.view.TopView1"
            id="cn.com.cxsw.view.Top"
            name="New ViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.com.cxsw.editor.MyDataEditor"
            id="cn.com.cxsw.editor.MyDataEditor"
            name="我的数据">
      </editor>
      <editor
            class="cn.com.cxsw.editor.UserAddEditor"
            id="cn.com.cxsw.editor.UserAddEditor"
            name="提交数据">
      </editor>
      <editor
            class="cn.com.cxsw.editor.UserQurryEditor"
            id="cn.com.cxsw.editor.UserQurryEditor"
            name="查看数据">
      </editor>
   </extension>
   

</plugin>
