<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.com.cxsw.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cn.com.cxsw.core.Perspective"
            id="Listen.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.com.cxsw.view.AdminView"
            id="cn.com.cxsw.view.AdminView"
            name="菜单">
      </view>
      <view
            class="cn.com.cxsw.view.TopView"
            id="cn.com.cxsw.view.TopView"
            name="">
      </view>
      <view
            class="cn.com.cxsw.view.AdminMenuView"
            id="cn.com.cxsw.view.AdminMenuView"
            name="New ViewPart">
      </view>
      <view
            class="cn.com.cxsw.view.AdminView1"
            id="cn.com.cxsw.view.AdminView1"
            name="管理员菜单">
      </view>
      <view
            class="cn.com.cxsw.view.TopView1"
            id="cn.com.cxsw.view.Top"
            name="New ViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.com.cxsw.editor.DiscAddEditor"
            id="cn.com.cxsw.editor.DiscAddEditor"
            name="唱片添加">
      </editor>
      <editor
            class="cn.com.cxsw.editor.ShowEditor"
            id="cn.com.cxsw.editor.ShowEditor"
            name="主页">
      </editor>
      <editor
            class="cn.com.cxsw.editor.UserAddEditor"
            id="cn.com.cxsw.editor.UserAddEditor"
            name="填报表单">
      </editor>
      <editor
            class="cn.com.cxsw.editor.UserQurryEditor"
            id="cn.com.cxsw.editor.UserQurryEditor"
            name="学生疫情填报情况">
      </editor>
      <editor
            class="cn.com.cxsw.editor.UserLoveEditor"
            id="cn.com.cxsw.editor.UserLoveEditor"
            name="我的收藏">
      </editor>
      <editor
            class="cn.com.cxsw.editor.DiscEditor"
            id="cn.com.cxsw.editor.DiscEditor"
            name="发现">
      </editor>
      <editor
            class="cn.com.cxsw.editor.DiscQurryEditor"
            id="cn.com.cxsw.editor.MusicAddEditor"
            name="唱片浏览">
      </editor>
      <editor
            class="cn.com.cxsw.editor.UserShopEditor"
            id="cn.com.cxsw.editor.UserShopEditor"
            name="我的订单">
      </editor>
      <editor
            class="cn.com.cxsw.editor.ShopQurryEditor"
            id="cn.com.cxsw.editor.ShopQurryEditor"
            name="订单浏览">
      </editor>
   </extension>
   

</plugin>
